<div class="col-md-12">
  <div class="box accompaniment">
    <h2><i class="glyphicon glyphicon-chevron-down"></i> <%= t('activerecord.model.accompaniment') %>: <%= accompaniment.subject %></h2>

    <ul class="list details">
      <% if @friend %>
        <li>
          <span><%= t('activerecord.attributes.accompaniment.activity') %></span>
          <div><%= accompaniment.activity.try :name %></div>
        </li>
      <% end %>

      <% if @activity %>
        <li>
          <span><%= t('activerecord.attributes.accompaniment.friend') %></span>
          <div><%= accompaniment.friend.try :name %></div>
        </li>
      <% end %>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.date_time') %></span>
        <div><%= accompaniment.date_time %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.achievements') %></span>
        <div class="font-20"><%= accompaniment.achievements.html_safe %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.plans') %></span>
        <div class="font-20"><%= accompaniment.plans.html_safe %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.observations') %></span>
        <div class="font-20"><%= accompaniment.observations.html_safe %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.place') %></span>
        <div><%= accompaniment.place %></div>
      </li>
    </ul>
  </div>
</div>
