
<div class="col-md-11">
  <div class="box accompaniment">
    <h2><i class="glyphicon glyphicon-chevron-down"></i> Accompaniment: <%= accompaniment.subject %></h2>

    <ul class="list details">
      <% if @friend %>
        <li>
          <span>Activity</span>
          <div><%= accompaniment.activity.try :name %></div>
        </li>
      <% end %>

      <% if @activity %>
        <li>
          <span>Friend</span>
          <div><%= accompaniment.friend.try :name %></div>
        </li>
      <% end %>

      <li>
        <span>Date</span>
        <div><%= accompaniment.date_time %></div>
      </li>

      <li>
        <span>Plans</span>
        <div class="font-20"><%= accompaniment.plans.html_safe %></div>
      </li>

      <li>
        <span>Achievements</span>
        <div class="font-20"><%= accompaniment.achievements.html_safe %></div>
      </li>

      <li>
        <span>Observations</span>
        <div class="font-20"><%= accompaniment.observations.html_safe %></div>
      </li>

      <li>
        <span>Place</span>
        <div><%= accompaniment.place %></div>
      </li>
    </ul>
  </div>
</div>
