<% content_for :page, 'edit accompaniment' %>

<div class="col-md-10">

  <div class="box">
    <h2>Accompanying <%= (@friend || @activity).name %></h2>

    <% params[:errors].try(:each) do |error| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
      </div>
    <% end %>

    <%= form_for @accompaniment do |f| %>
      <ul class="list-unstyled details">
        <li>
          <%= f.label :subject %>
          <%= f.text_field :subject, autofocus: true, class: :input %>
        </li>

        <% if @friend %>
          <%= f.hidden_field :friend_id, {value: @friend.id} %>

          <li>
            <%= f.label :activity %>
            <span class="input">
              <%= f.select :activity_id, @friend.activities_organizing.map{ |f| [f.name, f.id]}, {}, {} %>
            </span>
          </li>
        <% elsif @activity %>
          <%= f.hidden_field :activity_id, {value: @activity.id} %>
          <%= f.hidden_field :friend_id, {value: @activity.organizer.id} %>

          <li>
            <%= f.label :friend %>
            <div class="input">
              <%= @activity.organizer.name %>
            </div>
          </li>
        <% end %>

        <li>
          <%= f.label :achievements %>
          <%= f.text_area :achievements, class: :input %>
        </li>

        <li>
          <%= f.label :plans %>
          <%= f.text_area :plans, class: :input %>
        </li>

        <li>
          <%= f.label :observations %>
          <%= f.text_area :observations, class: :input %>
        </li>

        <li>
          <%= f.label :place %>
          <%= f.text_field :place, class: :input %>
        </li>

        <li class="date-time">
          <%= f.label :date_time %>
          <span class="input">
            <%= f.datetime_select :date_time, default: DateTime.now %>
          </span>
        </li>
      </ul>

      <%= f.hidden_field :redirect_to, {value: @redirect_to} %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
