<% content_for :page, 'edit accompaniment' %>

<div class="col-md-12">
  <div class="box">
    <h2><%= "#{t(:accompanying)} #{(@friend || @activity).name}" %></h2>

    <% params[:errors].try(:each) do |error| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
      </div>
    <% end %>

    <%= form_for @accompaniment do |f| %>
      <ul class="list details">
        <li>
          <%= f.label :subject %>
          <%= f.text_field :subject, autofocus: true %>
        </li>

        <% if @friend %>
          <%= f.hidden_field :friend_id, {value: @friend.id} %>

          <li>
            <%= f.label :activity %>
            <%= f.select :activity_id, @friend.activities_organizing.map{ |f| [f.name, f.id]}, {}, {} %>
          </li>
        <% elsif @activity %>
          <%= f.hidden_field :activity_id, {value: @activity.id} %>
          <%= f.hidden_field :friend_id, {value: @activity.organizer.id} %>

          <li>
            <%= f.label :organizer %>
            <%= @activity.organizer.email %>
          </li>
        <% end %>

        <li>
          <%= f.label :achievements %>
          <%= f.text_area :achievements, class: :wysihtml5 %>
        </li>

        <li>
          <%= f.label :plans %>
          <%= f.text_area :plans, class: :wysihtml5 %>
        </li>

        <li>
          <%= f.label :observations %>
          <%= f.text_area :observations, class: :wysihtml5 %>
        </li>

        <li>
          <%= f.label :place %>
          <%= f.text_field :place %>
        </li>

        <li>
          <%= f.label :date_time %>
          <%= f.text_field :date_time, default: DateTime.now, class: :datepicker %>
        </li>
      </ul>

      <%= f.submit t('helpers.submit.submit', model: t('activerecord.model.accompaniment')), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
