<div class="box">
  <h2 class="expandable" data-target="accompaniment">
    <i class="glyphicon glyphicon-ok"></i>
    <%= t('activerecord.model.accompaniments') %>
    <span class="accompaniment count">(<%= accompaniments.count %>)</span>
  </h2>

  <ul class="accompaniment list expandable-list">
    <% accompaniments.each do |a| %>
      <li>
        <%= link_to t('helpers.edit'), edit_accompaniment_path(a), class: 'inline-edit' %>
        <%= link_to accompaniment_path(a) do %>
         <span class="listed left"><%= a.subject %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= link_to t('helpers.submit.create', model: t('activerecord.model.accompaniment')), new_accompaniment_path(friend_id: friend_id, activity_id: activity_id), class: "btn btn-success" %>
  </div>
</div>