<% content_for :page, 'accompaniment' %>

<div class="col-md-12">
  <div class="box">
    <h2>Detalhes do acompanhamento</h2>

    <ul class="list details">
      <li>
        <span><%= t('activerecord.attributes.accompaniment.subject') %></span>
        <div><%= @accompaniment.subject %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.date_time') %></span>
        <div><%= @accompaniment.date_time %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.place') %></span>
        <div><%= @accompaniment.place %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.plans') %></span>
        <div><%= @accompaniment.plans.html_safe %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.achievements') %></span>
        <div><%= @accompaniment.achievements.html_safe %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.accompaniment.observations') %></span>
        <div><%= @accompaniment.observations %></div>
      </li>
    </ul>

    <%= link_to t('helpers.submit.edit', model: t('activerecord.model.accompaniment')), edit_accompaniment_path(@accompaniment), class: 'btn btn-primary' %>
    <%= link_to t('helpers.submit.delete', model: t('activerecord.model.accompaniment')), accompaniment_path(@accompaniment), method: :delete, confirm: "Tem certeza?", class: 'btn btn-danger' %>
  </div>
</div>

<div class="col-md-12">
  <%= render template: 'learnings/index.html.erb' %>
</div>

<div class="col-md-12">
  <%= render partial: 'experiences/list.html.erb', locals: {experiences: @accompaniment.experiences} %>
</div>