<% content_for :page, 'edit learning' %>

<div class="col-md-10">
  <div class="box">
    <h2><%= t('activerecord.model.learning') %></h2>

    <% params[:errors].try(:each) do |error| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
      </div>
    <% end %>

    <%= form_for @learning do |f| %>
      <%= f.hidden_field :related_to_type %>
      <%= f.hidden_field :related_to_id %>

      <ul class="list details">
        <li>
          <%= f.label :summary %>
          <%= f.text_field :summary, autofocus: true %>
        </li>

        <li>
          <%= f.label :description %>
          <%= f.text_area :description, class: :wysihtml5 %>
        </li>
      </ul>

      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
