<div class="box">
  <h2 class="expandable" data-target="learnings">
    <i class="glyphicon glyphicon-fire"></i>
    <%= t('activerecord.model.learnings') %>
    <span class="learnings count">(<%= @learnings.count %>)</span>
  </h2>

  <ul class="learnings list expandable-list">
    <% @learnings.each do |f| %>
      <li>
        <%= link_to t('helpers.edit'), edit_learning_path(f), class: 'inline-edit' %>
        <%= link_to learning_path(f) do %>
          <span class="listed left"><%= f.summary %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= link_to t('helpers.submit.create', model: t('activerecord.model.learning')), new_learning_path(related_to_type: @model_name, related_to_id: params[:id]) , class: "btn btn-success" %>
  </div>
</div>