<% content_for :page, 'edit friend' %>

<div class="col-md-10">
  <% params[:errors].try(:each) do |error| %>
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
    </div>
  <% end %>

  <div class="friends">
    <%= form_for @friend do |f| %>
      <ul class="list-unstyled">
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </li>

        <li>
          <%= f.label :declared? %>
          <%= f.check_box :declared, autofocus: true %>
        </li>

        <li>
          <%= f.label :last_accompanied %>
          <%= f.date_select :last_accompanied, {include_blank: true} %>
        </li>
      </ul>

      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
