<% content_for :page, 'edit friend' %>

<div class="col-md-10">
  <div class="box">
    <h2><%= t('activerecord.model.friend') %></h2>

    <% params[:errors].try(:each) do |error| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
      </div>
    <% end %>

    <%= form_for @friend do |f| %>
      <ul class="list details">
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </li>

        <li>
          <%= f.label :declared? %>
          <%= f.check_box :declared %>
        </li>

        <li>
          <%= f.label :last_accompanied %>
          <%= f.text_field :last_accompanied, class: :datepicker %>
        </li>

        <li>
          <%= f.label :accompaniment_frequency %>
          <%= f.number_field :accompaniment_frequency, placeholder: 'em dias' %>
        </li>
      </ul>

      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
