<div class="box">
  <h2 class="expandable" data-target="friends">
    <i class="glyphicon glyphicon-user"></i>
    <%= t('activerecord.model.friends') %>
    <span class="friends count">(<%= current_user.friends.count %>)</span>
  </h2>

  <ul class="friends list expandable-list">
    <% current_user.friends.each do |f| %>
      <li>
        <%= link_to t('helpers.edit'), edit_friend_path(f), class: 'inline-edit' %>
        <%= link_to friend_path(f) do %>
          <span class="listed left"><%= f.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= link_to t('helpers.submit.create', model: t('activerecord.model.friend')), new_friend_path(current_user), class: "btn btn-success" %>
  </div>
</div>