<% content_for :page, 'friend' %>

<div class="col-md-12">
  <div class="box">
    <h2>Detalhes do amigo</h2>

    <ul class="list details">
      <li>
        <span><%= t('activerecord.attributes.friend.name') %></span>
        <div><%= @friend.name %></div>
      </li>
      <li>
        <span><%= t('activerecord.attributes.friend.declared?') %></span>
        <div>
          <i class="icon <%= @friend.declared ? 'icon-ok' : 'icon-remove' %>"></i>
        </div>
      </li>
      <li>
        <span><%= t('activerecord.attributes.friend.last_accompanied') %></span>
        <div>
          <%= @friend.last_accompanied %>
          (<%= @friend.days_since_last_accompanied %> dias atrás)
        </div>
      </li>
      <li>
        <span><%= t('activerecord.attributes.friend.next_accompaniment') %></span>
        <div>
          <%= @friend.next_accompaniment %>
          (em <%= @friend.next_accompaniment_in %> dias)
        </div>
      </li>
      <li>
        <span><%= t('activerecord.attributes.friend.accompaniment_frequency') %></span>
        <div>
          <%= @friend.accompaniment_frequency.to_s + ' dias' if @friend.accompaniment_frequency %>
        </div>
      </li>
    </ul>

    <%= link_to t('helpers.submit.edit', model: t('activerecord.model.friend')), edit_friend_path, class: 'btn btn-primary' %>
    <%= link_to 'Accompany-me!', new_friend_accompaniment_path(@friend), class: 'btn btn-success' %>
    <%= link_to t('helpers.submit.delete', model: t('activerecord.model.friend')), friend_path, method: :delete, confirm: "Tem certeza? Isto também deletará os acompanhamentos relacionados!", class: 'btn btn-danger' %>
  </div>
</div>

<div class="accompaniment">
  <% @friend.accompaniments.each do |accompaniment| %>
    <%= render 'accompaniments/accompaniments', accompaniment: accompaniment %>
  <% end %>
</div>

<div class="col-md-12">
  <%= render partial: 'activities/list.html.erb', locals: {activities: Activity.where(organizer: @friend), icon: 'glyphicon glyphicon-list-alt', label: t('activerecord.attributes.friend.activities_organizing'), args: {organizer_id: @friend.id}} %>
</div>

<div class="col-md-12">
  <%= render partial: 'activities/list.html.erb', locals: {activities: @friend.activities, icon: 'glyphicon glyphicon-book' ,label: t('activerecord.attributes.friend.activities_participating'), args: {participant_ids: [@friend.id]}} %>
</div>

<div class="col-md-12">
  <%= render template: 'learnings/index.html.erb' %>
</div>
