<% content_for :page, 'friend' %>


<div class="col-md-11">
  <div class="friends">
    <h2>Details of friend</h2>

    <ul class="list-unstyled">
      <li>
        <span>Name</span>
        <div><%= @friend.name %></div>
      </li>
      <li>
        <span>Declared</span>
        <div>
          <i class="icon <%= @friend.declared ? 'icon-ok' : 'icon-remove' %>"></i>
        </div>
      </li>
      <li>
        <span>Last accompanied</span>
        <div>
          <%= @friend.last_accompanied %>
          <%= @friend.since_last_accompanied %>
        </div>
      </li>
      <li>
        <span>Activities organizing</span>
        <div>
          <% Activity.where(organizer: @friend).each do |activity| %>
            <%= link_to activity.name, activity_path(activity) %>
          <% end %>
        </div>
      </li>

      <li>
        <span>Activities participating</span>
        <div>
          <% @friend.activities.each do |activity| %>
            <%= link_to activity.name, activity_path(activity) %>
          <% end %>
        </div>
      </li>
    </ul>

    <%= link_to 'Edit friend', edit_user_friend_path(current_user, @friend), class: 'btn btn-primary' %>
  </div>
</div>
