<div class="col-md-6">
  <%= render partial: "list.html.erb", locals: {singular_label: 'friend', plural_label: 'friends', icon: 'user', objects: current_user.friends, new_path: "/friends/new"} %>
</div>

<div class="col-md-6">
  <%= render partial: "list.html.erb", locals: {singular_label: 'activity', plural_label: 'activities', icon: 'book', objects: current_user.all_activities, new_path: "/activities/new?activitable_type=#{current_user.class}&activitable_id=#{current_user.id}"} %>
</div>

<div class="col-md-6">
  <%= render partial: "list.html.erb", locals: {singular_label: 'accompaniment', plural_label: 'accompaniments', icon: 'ok', objects: current_user.all_accompaniments, new_path: "/accompaniments/new?accompaniable_type=#{current_user.class}&accompaniable_id=#{current_user.id}"} %>
</div>

<div class="col-md-6">
  <%= render partial: "list.html.erb", locals: {singular_label: 'experience', plural_label: 'experiences', icon: 'star-empty', objects: current_user.all_experiences, new_path: "/experiences/new?experienceable_type=#{current_user.class}&experienceable_id=#{current_user.id}"} %>
</div>

<div class="col-md-6">
  <%= render partial: "list.html.erb", locals: {singular_label: 'learning', plural_label: 'learnings', icon: 'fire', objects: current_user.all_learnings, new_path: "/learnings/new?learnable_type=#{current_user.class}&learnable_id=#{current_user.id}"} %>
</div>
