<% content_for :page, 'user' %>

<% if current_user.todays_activities.count > 0 %>
  <div class="container">
    <div class="col-md-12 alert alert-success">
      <%= "Today's activities: #{current_user.todays_activities.join(', ')}" %>
    </div>
  </div>
<% end %>

<div class="col-md-6">
  <div class="friends">
    <h2>Friends</h2>

    <ul class="list-unstyled">
      <% current_user.friends.each do |f| %>
        <li>
          <div>
            <%= link_to friend_path(f) do %>
              <span class="listed left"><%= f.name %></span>
              <span class="listed right"><%= f.activities_organizing.count %> activity(ies)</span>
            <% end %>
          </div>
        </li>
      <% end %>
      <button class="btn btn-success"><%= link_to 'New friend', new_user_friend_path(current_user) %></button>
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="activities">
    <h2>Activities</h2>

    <ul class="list-unstyled">
      <% current_user.activities.each do |a| %>
        <li>
          <div>
            <%= link_to activity_path(a) do %>
             <span class="listed left"><%= a.name %></span>
             <span class="listed right"><%= a.participants.count %> participant(s)</span>
            <% end %>
          </div>
        </li>
      <% end %>
      <button class="btn btn-success"><%= link_to 'New activity', new_activity_path %></button>
    </ul>
  </div>
</div>

