<div class="box">
  <h2 class="expandable" data-target="experiences">
    <i class="glyphicon glyphicon-star-empty"></i>
    <%= t('activerecord.model.experiences') %>
    <span class="experiences count">(<%= experiences.count %>)</span>
  </h2>

  <ul class="experiences list expandable-list">
    <% experiences.each do |a| %>
      <li>
        <%= link_to t('helpers.edit'), edit_experience_path(a), class: 'inline-edit' %>
        <%= link_to experience_path(a) do %>
         <span class="listed left"><%= a.description %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to t('helpers.submit.create', model: t('activerecord.model.experience')), new_experience_path(related_to_type: @model_name, related_to_id: params[:id]), class: "btn btn-success" %>
</div>