<% content_for :page, 'experience' %>

<div class="col-md-12">
  <div class="box">
    <h2>Detalhes da experiência</h2>

    <ul class="list details">
      <li>
        <span><%= t('activerecord.attributes.experience.related_to') %></span>
        <div><%= link_to @experience.related_to.try(:name), polymorphic_path(@experience.related_to) %></div>
      </li>

      <li>
        <span><%= t('activerecord.attributes.experience.description') %></span>
        <div><%= @experience.description.try(:html_safe) %></div>
      </li>
    </ul>

    <%= link_to t('helpers.submit.edit', model: t('activerecord.model.experience')), edit_experience_path, class: 'btn btn-primary' %>
    <%= link_to t('helpers.submit.delete', model: t('activerecord.model.experience')), experience_path, method: :delete, confirm: "Tem certeza?", class: 'btn btn-danger' %>
  </div>
</div>

<div class="col-md-12">
  <%= render template: 'learnings/index.html.erb' %>
</div>
