<div class="sign-up-page">
  <div class="text col-md-7">
    <h2 class="welcome">Bem vindo ao <span class="accompany-me">Accompany-me</span>!</h2>

    <p class="explanation">O <span class="accompany-me">Accompany-me</span> foi desenvolvido para <strong>acompanhar</strong>, <strong>criar</strong> e <strong>compartilhar</strong> aprendizados</p>

    <p class="list">
      <ul>
        <li>
          <i class="glyphicon glyphicon-cloud"></i>
          <span>Aprendizados na nuvem</span>
        </li>
        <li>
          <i class="glyphicon glyphicon-road"></i>
          <span>Acompanhe seus amigos</span>
        </li>
        <li>
          <i class="glyphicon glyphicon-fire"></i>
          <span>Gere aprendizados</span>
        </li>
        <li>
          <i class="glyphicon glyphicon-phone"></i>
          <span>Mobile-friendly</span>
        </li>
      </ul>
    </p>
  </div>

  <div class="sign-up col-md-5">
    <h2 class="col-md-12">Não está cadastrado?</h2>

    <p class="col-md-12">Cadastre-se e acompanhe seus amigos</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class='col-md-12'><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>
      <div class='col-md-6'><%= f.password_field :password, autocomplete: "off", placeholder: 'Sua senha' %></div>
      <div class='col-md-6'><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirme sua senha' %></div>

      <div class="submit"><%= f.submit "Me cadastre!" %></div>
    <% end %>
  </div>
</div>
