<% content_for :page, 'edit activity' %>

<div class="col-md-10">
  <div class="box">
    <h2><%= t('activerecord.model.activity') %></h2>

    <% params[:errors].try(:each) do |error| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
      </div>
    <% end %>

    <%= form_for activity do |f| %>
      <ul class="list details">
        <li>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
        </li>

        <li>
          <%= f.label :frequency %>
          <%= f.select :frequency, ['Diário', 'Semanal', 'Bisemanal', 'Mensal', 'Trimestral', 'Anual'], {include_blank: true}, {} %>
        </li>

        <li>
          <%= f.label :activitable %>
          <%= f.hidden_field :activitable_type, value: 'User' %>
          <%= f.select :activitable_id, current_user.friends.map{ |f| [f.email, f.id]}, {}, {} %>
        </li>

        <li>
          <%= f.label :last_occurrence %>
          <%= f.text_field :last_occurrence, class: :datepicker, value: @activity.last_occurrence.try(:strftime, '%d/%m/%Y') %>
        </li>

        <li>
          <%= f.label :last_accompanied %>
          <%= f.text_field :last_accompanied, class: :datepicker, value: @activity.last_accompanied.try(:strftime, '%d/%m/%Y') %>
        </li>

        <li>
          <%= f.label :accompaniment_frequency %>
          <%= f.number_field :accompaniment_frequency, placeholder: 'em dias' %>
        </li>

        <li>
          <%= f.label :participants %>
          <ul class="list">
            <% current_user.friends.each do |fr| %>
              <li>
                <%= f.check_box :participant_ids, {multiple: true, checked: @activity.participant_ids.include?(fr.id.to_i)}, fr.id, nil %>
                <%= f.label "participant_ids_#{fr.id}", fr.email, {class: 'sub-form'} %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>

      <%= f.submit t('helpers.submit.submit', model: t('activerecord.model.activity')), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>