<% content_for :page, 'edit activity' %>

<div class="col-md-10">
  <% params[:errors].try(:each) do |error| %>
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= "<strong>#{error[0].capitalize}</strong>: #{error[1][0]}".html_safe %>
    </div>
  <% end %>

  <div class="activities">
    <h2>Form for activity</h2>

    <%= form_for activity do |af| %>
      <ul class="list-unstyled">
        <li>
          <%= af.label :name %>
          <%= af.text_field :name, autofocus: true %>
        </li>

        <li>
          <%= af.label :frequency %>
          <%= af.select :frequency, ['Daily','Weekly','Biweekly','Monthly','Yearly'], {include_blank: true}, {} %>
        </li>

        <li>
          <%= af.label :organizer %>
          <%= af.select :organizer_id, current_user.friends.map{ |f| [f.name, f.id]}, {}, {} %>
        </li>

        <li class="date-time">
          <%= af.label :last_occurrence %>
          <%= af.datetime_select :last_occurrence, {include_blank: true} %>
        </li>

        <li>
          <%= af.fields_for :friends do |ff| %>
            <%= ff.label :friends %>
            <%= ff.select :friend_id, current_user.friends.map{ |f| [f.name, f.id]}, {}, {multiple: true} %>
          <% end %>
        </li>
      </ul>

      <%= af.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>