<% content_for :page, 'activity' %>

<div class="col-md-11">
  <div class="activities">
    <h2>Details of activity</h2>

    <ul class="list-unstyled details">
      <li>
        <span>Name</span>
        <div><%= @activity.name %></div>
      </li>
      <li>
        <span>Frequency</span>
        <div><%= @activity.frequency %></div>
      </li>
      <li>
        <span>Last occurrence</span>
        <div><%= @activity.last_occurrence.try(:to_date) %></div>
      </li>
      <li>
        <span>Next occurrence</span>
        <div>
          <%= @activity.next_occurrence.try(:to_date) %>
          <%= @activity.until_next_occurrence %>
        </div>
      </li>
      <li>
        <span>Accompaniment frequency</span>
        <div>
          <%= @activity.accompaniment_frequency.to_s + ' days' if @activity.accompaniment_frequency %>
        </div>
      </li>
      <li><span>Organizer</span>
        <div>
          <%= link_to @organizer.name, friend_path(@organizer) if @organizer %>
        </div>
      </li>
      <li>
        <span>Participants</span>
        <div>
          <% @activity.participants.map do |p| %>
              <%= link_to p.name, user_friend_path(current_user, p) %>
          <% end %>
        </div>
      </li>
    </ul>

    <%= link_to 'Edit activity', edit_activity_path, class: 'btn btn-primary' %>
    <%= link_to 'Accompany-me!', new_activity_accompaniment_path(@activity), class: 'btn btn-success' %>
    <%= link_to 'Delete activity', activity_path, method: :delete, confirm: "Are you sure? This will also delete related accompaniments!", class: 'btn btn-danger' %>
  </div>
</div>

<div class="accompaniment">
  <% @activity.accompaniments.each do |accompaniment| %>
    <%= render 'accompaniments/accompaniments', accompaniment: accompaniment %>
  <% end %>
</div>