Name: <%= @activity.name %>
<br><br>

Frequency: <%= @activity.frequency %>
<br><br>

Last occurrence: <%= @activity.last_occurrence.to_date %>
<br><br>

Next occurrence: <%= @activity.next_occurrence.to_date %> (in <%= (@activity.next_occurrence.to_date - Date.today).to_i %> days)
<br><br>

Organizer:
<% if @activity.organizer %>
  <ul>
    <li><%= link_to @organizer.name, user_friend_path(current_user, @organizer) %></li>
  </ul>
<% end %>

Participants:
<ul>
  <% @activity.participants.each do |friend| %>
    <li><%= link_to friend.name, user_friend_path(current_user, friend) %></li>
  <% end %>
</ul>

<%= link_to 'Edit activity', edit_activity_path %>