<% content_for :page, 'activity' %>


<div class="col-md-10">
  <div class="activities">
    <h2>Details of activity</h2>

    <ul class="list-unstyled">
      <li>
        <span>Name</span>
        <div><%= @activity.name %></div>
      </li>
      <li>
        <span>Frequency</span>
        <div><%= @activity.frequency %></div>
      </li>
      <li>
        <span>Last occurrence</span>
        <div><%= @activity.last_occurrence.to_date %></div>
      </li>
      <li>
        <span>Next occurrence</span>
        <div><%= @activity.next_occurrence.to_date %> (in <%= (@activity.next_occurrence.to_date - Date.today).to_i %> days)</div>
      </li>
      <li><span>Organizer</span>
        <div><%= link_to @activity.organizer.name, user_friend_path(current_user, @activity.organizer) %></div>
      </li>
      <li>
        <span>Participants</span>
        <div>
          <% @activity.participants.map do |p| %>
              <%= link_to p.name, user_friend_path(current_user, p) %>
          <% end %>
        </div>
      </li>
    </ul>

    <%= link_to 'Edit activity', edit_activity_path, class: 'btn btn-primary' %>
  </div>
</div>
