<% content_for :page, "#{@object.class.to_s.downcase}" %>

<div class="col-md-12">
  <div class="box">
    <h2>Detalhes de <%= @object.class_name.downcase %></h2>

    <ul class="list details">
      <% @object.show_fields.each do |field| %>
        <li class="<%= "hidden" if field[:type] == :hidden_field %>">
          <span><%= t("activerecord.attributes.#{@object.class.to_s.downcase}.#{field[:name]}") %></span>
          <div>
            <% if field[:reference] %>
              <%= link_to field[:options][:value], send("#{@object.class.to_s.downcase}_path", @object.send(field[:name])) %>
            <% else %>
              <%= @object.send(field[:name]) %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to t("helpers.submit.edit", model: @object.class_name), send("edit_#{@object.class.to_s.downcase}_path", @object), class: "btn btn-primary" %>
    <%= link_to t("helpers.submit.delete", model: t("activerecord.model.#{@object.class.to_s.downcase}")), send("#{@object.class.to_s.downcase}_path", @object), method: :delete, confirm: "Tem certeza? Isto também deletará os acompanhamentos relacionados!", class: "btn btn-danger" %>
    <%= link_to t("helpers.submit.convert", model: @object.class_name), contact_path(@object) + "/convert", class: "btn btn-primary" if @object.class.to_s == "Contact" %>
  </div>
</div>

<% if @object.activitable? %>
  <div class="col-md-12">
    <%= render partial: "list.html.erb", locals: {singular_label: 'activity', plural_label: 'activities', icon: 'book', objects: @object.activities, new_path: "/activities/new?activitable_type=#{@object.class}&activitable_id=#{@object.id}"} %>
  </div>
<% end %>

<% if @object.accompaniable? %>
  <div class="col-md-12">
    <%= render partial: "list.html.erb", locals: {singular_label: 'accompaniment', plural_label: 'accompaniments', icon: 'ok', objects: @object.accompaniments, new_path: "/accompaniments/new?accompaniable_type=#{@object.class}&accompaniable_id=#{@object.id}"} %>
  </div>
<% end %>

<% if @object.experienceable? %>
  <div class="col-md-12">
    <%= render partial: "list.html.erb", locals: {singular_label: 'experience', plural_label: 'experiences', icon: 'star-empty', objects: @object.experiences, new_path: "/experiences/new?experienceable_type=#{@object.class}&experienceable_id=#{@object.id}"} %>
  </div>
<% end %>

<% if @object.learnable? %>
  <div class="col-md-12">
    <%= render partial: "list.html.erb", locals: {singular_label: 'learning', plural_label: 'learnings', icon: 'fire', objects: @object.learnings, new_path: "/learnings/new?learnable_type=#{@object.class}&learnable_id=#{@object.id}"} %>
  </div>
<% end %>
