<!DOCTYPE html>
<html>
<head>
  <title>AccompanyMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/icon.png"/>
</head>
<body>

<div class="navbar">
  <a href="/" class="navbar-brand">Accompany-me</a>

  <% if current_user %>
    <div class="box account">
      <h3 class="welcome">
        Bem-vindo(a) <%= current_user.email %>
      </h3>
      <div class="links">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<div class="container <%= content_for :page %>">
  <%= yield %>
</div>

</body>
</html>
