<!DOCTYPE html>
<html>
<head>
  <title>AccompanyMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/icon.png"/>
  <link rel="stylesheet" href="/font-awesome.min.css">
</head>
<body>

<div class="navbar">
  <a href="/" class="navbar-brand">Accompany-me</a>

  <div class="account">
    <div class="welcome">
      Welcome <%= current_user.try(:email) %>
    </div>
    <div class="links">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<div class="container <%= content_for :page %>">
  <%= yield %>
</div>

</body>
</html>
