<!DOCTYPE html>
<html>
<head>
  <title>AccompanyMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/icon.png"/>
</head>
<body>


<div class="navbar">
  <a href="/" class="navbar-brand">Accompany-me</a>
</div>

<div class="container <%= content_for :page %>">
  <%= yield %>
</div>

</body>
</html>
