<!DOCTYPE html>
<html>
<head>
  <title>AccompanyMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/icon.png"/>
</head>
<body>

<div class="navbar">
  <a href="/" class="navbar-brand">Accompany-me</a>

  <% if current_user %>
    <div class="box account">
      <h3 class="welcome">
        Bem-vindo(a) <%= current_user.email %>
      </h3>
      <div class="links">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% else %>
    <div class="sign-in">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="right">
          <%= f.label :email, class: '' %>
          <%= f.email_field :email, autofocus: true, class: '' %>
        </div>

        <div class="right">
          <%= f.label :senha, class: '' %>
          <%= f.password_field :password, autocomplete: "off", class: '' %>
        </div>

        <div class="right remember-me">
          <%= f.label :lembrar, class: '' %>
          <div class="center"><%= f.check_box :remember_me, class: '' %></div>
        </div>

        <div class='submit right'><%= f.submit "Entrar" %></div>
      <% end %>

      <% render "devise/shared/links" %>
    </div>
  <% end %>
</div>

<div class="container <%= content_for :page %>">
  <%= yield %>
</div>

</body>
</html>
