<!DOCTYPE html>
<html>
<head>
  <title>AccompanyMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <link rel="shortcut icon" href="/assets/icon.png"/>
</head>
<body>
  <div id="react-root"/>
  <script type="text/javascript">
    var currentUser = <%= (current_user || "").to_json.html_safe %>
  </script>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
